{% extends "base.html" %}
{% load cms_tags static is_design %}

{% block assets %}
  {% if settings.TACC_CORE_STYLES_VERSION == 0 or is_design_legacy %}
    {% include 'assets_site.html' %}
  {% elif settings.TACC_CORE_STYLES_VERSION >= 1 %}
    {% include 'assets_core.html' %}
    {% include 'assets_core_cms.html' %}
  {% endif %}
{% endblock assets %}

{% block assets_custom %}
  {{ block.super }}

  {% if settings.TACC_CORE_STYLES_VERSION == 0 or is_design_legacy %}
  <link rel="stylesheet" href="https://use.typekit.net/xnr7bof.css">
  <link rel="stylesheet" href="{% static 'texascale_cms/css/site.css' %}">
  <link rel="stylesheet" href="{% static 'texascale_cms/css/site.header.css' %}">
  {% endif %}
{% endblock assets_custom %}
